@model Microfichas_App.Models.Folder

@{
    ViewData["Title"] = "Editar Carpeta";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Folders" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="FolderName" class="control-label"></label>
        <input asp-for="FolderName" class="form-control" />
        <span asp-validation-for="FolderName" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="FolderId" />
    <input type="hidden" asp-for="ParentFolderId" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="ModifiedBy" />
    <input type="hidden" asp-for="ModifiedDate" />
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" asp-route-parentFolderId="@Model.ParentFolderId" class="btn btn-secondary">Volver a la lista</a>
    </div>
</form>
